# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
android/.gradle/
android/app/build/
*.iml

# VSCode/IDEA
.idea/
.vscode/
*.swp

# Python (чтобы не мешало бэкенд окружение)
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python